* {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: #e1ebf0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

body>header>a:link, body>header>a:visited, body>header>a:hover, body>header>a:active {
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 50px;
}
.container {
    display: block;
    margin: 80px auto;
    text-align: center;
    font-size: 35px;
    line-height: 1;
    width: 60vw;
    padding: 20px;
}

#start-button, #button-1, #button-2, #button-3, #button-4{
    background-color: rgb(56, 56, 215);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 37px;
    padding: 15px 32px;
}

#hidden-button {
    display: none;
}
